<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Client</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Edit Client</h1>

<p th:if="${duplicateError}" th:text="${duplicateError}" style="color:red;"></p>

<form th:action="@{/update}" th:object="${clientLoan}" method="post">

    <input type="hidden" name="originalClientNo" th:value="${clientLoan.clientNo}">

    <label>Client Number</label><br>
    <input type="number" th:field="*{clientNo}">
    <div th:if="${#fields.hasErrors('clientNo')}" th:errors="*{clientNo}" style="color:red"></div>
    <br>

    <label>Name</label><br>
    <input type="text" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
    <br>

    <label>Loan Amount</label><br>
    <input type="number" step="0.01" th:field="*{loanAmount}">
    <div th:if="${#fields.hasErrors('loanAmount')}" th:errors="*{loanAmount}" style="color:red"></div>
    <br>

    <label>Years</label><br>
    <input type="number" th:field="*{years}">
    <div th:if="${#fields.hasErrors('years')}" th:errors="*{years}" style="color:red"></div>
    <br>

    <label>Loan Type</label><br>
    <select th:field="*{loanType}">
        <option value="">-- Select --</option>
        <option value="Business">Business</option>
        <option value="Personal">Personal</option>
    </select>
    <div th:if="${#fields.hasErrors('loanType')}" th:errors="*{loanType}" style="color:red"></div>
    <br><br>

    <button type="submit">Save</button>
    <button type="button" onclick="window.location.href='/'">Back</button>
</form>

</body>
</html>
